<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGL | Online Exam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />



    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="css/cs-select.css">
    <link rel="stylesheet" href="css/cs-skin-border.css">

    <!-- <link rel="stylesheet" href="css/style.css"> -->

    <!-- quiz style -->
    <!-- <link rel="stylesheet" href="css/quiz.css"> -->


    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
    <style>
        .pagination span {
            color: black;
            float: left;
            align-items: center;
            background-color: #f89149;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }
        
        .pagination span.active {
            background-color: dodgerblue;
            color: white;
        }
        
        .pagination span:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
    <style>
        body {
            height: 100vh;
            background-color: bisque;
            padding: 10px;
            font-family: "Open Sans", Arial, sans-serif;
            font-size: 16px;
            background-image: linear-gradient(to right, #e08981, #d59c59);
            background-repeat: repeat;
            background-position: center;
            color: #191c24;
            font-weight: 300;
        }
        
        .container {
            margin: 30px auto;
            background: white;
            padding: 20px 15px
        }
        
        .main {
            height: 100%;
            overflow: scroll;
        }
        
        label.box {
            display: flex;
            margin-top: 10px;
            padding: 10px 12px;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid #e8b694
        }
        
        .que {
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
</head>

<body>
    <div id="front" class="main" style="padding: 25px;">
        <div id="fh5co-wrapper">
            <div id="fh5co-page">
                <div class="container my-5" id="screen" style="display: none;">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="h1" style="text-align: end; justify-content: center; color: #db4118; ">QUIZ</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="h1" id="count" style="text-align: end; justify-content: center; color: #db4118; ">
                            </div>
                        </div>
                    </div>

                    <form id="examForm" name="examForm" method="post" action="/submitPost">
                        <div class="row que">
                            <table id="mytable" style="width: 100%;">
                                <tbody>
                                    <tr></tr>
                                    <% for(let i=0; i<question.length; i++){ 
                                        let id=question[i].id; 
                                        let que=question[i].question;
                                        let opt1=question[i].optiona; 
                                        let opt2=question[i].optionb; 
                                        let opt3=question[i].optionc;
                                        let opt4=question[i].optiond;
                                        let answer=question[i].answer; %>
                                        <tr>
                                            <td>
                                                <div style="margin-bottom: 30px;">
                                                    <h4 class="fw-bold mt-5" style="color: #db4118;">
                                                        <%= i+1%>
                                                            &nbsp;
                                                            <%= que%>
                                                    </h4>
                                                    <div class="row" style="color: grey;">
                                                        <div class="col-lg-6">
                                                            <label for="five<%= id%>" class="box fifth w-100">
                                                        <div class="course">
                                                            <input type="radio" name="que<%= i+1%>" id="<%= i +1%>" value="A"/>
                                                            <span class="circle"></span>
                                                            <span class="subject">
                                                                <%= opt1%>
                                                            </span>
                                                        </div>
                                                    </label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label for="six<%= id%>" class="box sixth w-100">
                                                        <div class="course">
                                                            <input type="radio" name="que<%= i+1%>" id="<%= i+1%>" value="B" />
                                                            <span class="circle"></span>
                                                            <span class="subject">
                                                                <%= opt2%>
                                                            </span>
                                                        </div>
                                                    </label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label for="seven<%= id%>" class="box seveth w-100">
                                                        <div class="course">
                                                            <input type="radio" name="que<%= i+1%>" id="<%= i+1%>" value="C" />
                                                            <span class="circle"></span> <span class="subject">
                                                                <%= opt3%>
                                                            </span>
                                                        </div>
                                                    </label>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label for="eight<%= id%>" class="box eighth w-100">
                                                        <div class="course">
                                                            <input type="radio" name="que<%=i+1%>" id="<%= i+1%>" value="D" />
                                                            <span class="circle"></span>
                                                            <span class="subject">
                                                                <%= opt4%>
                                                            </span>
                                                        </div>
                                                        <input type="radio" name="que<%=i+1%>" id="<%= i+1%>" value="0" style="display:none"/>
                                                    </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="pagination pagination-lg" id="pgnext">
                                    <li data-page="next" id="prev" onclick="pgnext()">
                                        <button class="btn btn-info btn-lg">Next >> </button>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-3 mt-3">
                                <button class="btn btn-warning btn-lg" style="margin-top: 20px;" type="submit" id="exit">Submit/ Exit</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END fh5co-page -->


        </div>
    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Add User Form Start-->
                <!------ <div class="col-lg-12 grid-margin stretch-card"> --------->
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-danger" style="float: right;" id="close" data-dismiss="modal">×</button><br>
                        <h4 style="margin: 50px;">If you want to start exam click on start</h4>
                        <button class="btn btn-primary" id="start" style="margin: 25px;">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END fh5co-wrapper -->

    <!-- jQuery -->


    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/sticky.js"></script>

    <!-- Stellar -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="js/bootstrap-datepicker.min.js"></script>
    <!-- CS Select -->
    <script src="js/classie.js"></script>
    <script src="js/selectFx.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>

    <script>
        let myTab;
        $(document).ready(function() {
            $('#myModal').modal('show');
            let btnClose = document.querySelector('#close');
            btnClose.addEventListener('click', () => {
                window.close();
            });
        });

        //For ESC submit form
        document.addEventListener('fullscreenchange', exitHandler);
        document.addEventListener('webkitfullscreenchange', exitHandler);
        document.addEventListener('mozfullscreenchange', exitHandler);
        document.addEventListener('MSFullscreenChange', exitHandler);

        function exitHandler() {
            if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
                $('#examForm').submit();
            }
        }

        $('#start').click(() => {
            $('#myModal').modal('hide');
            $('#screen').css('display', 'block')
            var elem = document.getElementById('front');
            if (elem.requestFullscreen) {
                elem.requestFullscreen();


                setTimeout(() => {
                    $('#examForm').submit();
                    //window.close()
                }, 60000); //1 min is = 60000misec
            }
            // countdown
            // Set the date we're counting down to
            var countDownDate = new Date().getTime() + 1 * 60 * 1000;

            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for hours, minutes and seconds
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="count"
                document.getElementById("count").innerHTML =
                    ` <a style="color:red;font-weight:bold">Time:</a> ${minutes}:${seconds}`

                // hours + ":"+

                // If the count down is finished, write some text
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("count").innerHTML = "Time Out";
                }
            }, 1000);
        })
        $(document).ready(() => {
            for (let i = 1; i <= '<%= question.length %> '; i++) {
                $('input:radio[name="que' + i + '"]').prop('checked', true)
            }
        })
    </script>
    <script>
        getPagination('#mytable');


        function getPagination(table) {
            var lastPage = 1;

            $(document)
                .ready(function(evt) {
                    //$('.paginationprev').html('');						// reset pagination

                    lastPage = 1;
                    $('.pagination')
                        .find('li')
                        .slice(1, -1)
                        .remove();
                    var trnum = 0; // reset tr counter
                    var maxRows = 5; // get Max Rows from select option

                    if (maxRows == 5000) {
                        $('.pagination').hide();
                    } else {
                        $('.pagination').show();
                    }

                    var totalRows = $(table + ' tbody tr').length; // numbers of rows
                    $(table + ' tr:gt(0)').each(function() {
                        // each TR in  table and not the header
                        trnum++; // Start Counter
                        if (trnum > maxRows) {
                            // if tr number gt maxRows

                            $(this).hide(); // fade it out
                        }
                        if (trnum <= maxRows) {
                            $(this).show();
                        } // else fade in Important in case if it ..
                    }); //  was fade out to fade it in
                    if (totalRows > maxRows) {
                        // if tr total rows gt max rows option
                        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
                        //	numbers of pages
                        // end for i
                    } // end if row count > max rows
                    //$('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
                    $('.pagination li').on('click', function(evt) {
                        // on click each page
                        evt.stopImmediatePropagation();
                        evt.preventDefault();
                        var pageNum = $(this).attr('data-page'); // get it's number

                        var maxRows = parseInt(5); // get Max Rows from select option

                        /*if (pageNum == 'prev') {
                            if (lastPage == 1) {
                                return;
                            }
                            pageNum = --lastPage;
                        }*/
                        if (pageNum == 'next') {
                            if (lastPage == $('.pagination li').length - 2) {
                                return;
                            }
                            pageNum = ++lastPage;
                        }

                        lastPage = pageNum;
                        var trIndex = 0; // reset tr counter
                        //$('.pagination li').removeClass('active'); // remove active class from all li
                        $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                        // $(this).addClass('active');					// add active class to the clicked
                        limitPagging();
                        $(table + ' tr:gt(0)').each(function() {
                            // each tr in table not the header
                            trIndex++; // tr index counter
                            // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                            if (
                                trIndex > maxRows * pageNum ||
                                trIndex <= maxRows * pageNum - maxRows
                            ) {
                                $(this).hide();
                            } else {
                                $(this).show();
                            } //else fade in
                        }); // end of for each tr in table
                    }); // end of on click pagination list
                    limitPagging();
                })
                .val(5)
                .change();

            // end of on select change

            // END OF PAGINATION
        }

        function limitPagging() {
            // alert($('.pagination li').length)
            // console.log($('.pagination li').length);
            if ($('.pagination li').length > 7) {
                if ($('.pagination li.active').attr('data-page') <= 3) {
                    $('.pagination li:gt(5)').hide();
                    $('.pagination li:lt(5)').show();
                    $('.pagination [data-page="next"]').show();
                }
                if ($('.pagination li.active').attr('data-page') > 3) {
                    $('.pagination li:gt(0)').hide();
                    $('.pagination [data-page="next"]').show();
                    for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2); i <= (parseInt($('.pagination li.active').attr('data-page')) + 2); i++) {
                        $('.pagination [data-page="' + i + '"]').show();

                    }

                }
            }
        }
    </script>
    <script>
        var count = 0;

        function pgnext() {
            // alert();
            count++;
            console.log(count);
            if (count > 3) {
                document.getElementById('prev').style.display = 'none';
            }
            // document.getElementById('exitForm').action = '/submitPost'
            // return true;
        }
    </script>
</body>

</html>