<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SGL | Online Exam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />



    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="css/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
    <!-- CS Select -->
    <link rel="stylesheet" href="css/cs-select.css">
    <link rel="stylesheet" href="css/cs-skin-border.css">

    <link rel="stylesheet" href="css/style.css">


    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">


            <!-- end:header-top -->

            <div class="container terms">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="tabulation animate-box">
                            <div class="tab-content">
                                <% if(success.length>0) {%>
                                    <div class="alert alert-success">
                                        <%= success %>
                                    </div>
                                    <% } %>

                                        <div class="row" style="text-align: justify;">
                                            <h2 style="text-align: center; justify-content: center; color: #db4118;">
                                                <span for="from">Terms And Conditions</span></h2>
                                            <div class="col-lg-12 col-xxs-12 col-xs-12 mt">
                                                <div class="input-field">
                                                    <label for="from">Our platform is an interactive channel to help you
                                                        perpare for various online examnination.Read the all
                                                        instructions properly and then select checkbox. If you not
                                                        select the checkbox then you can not start this exam. </label>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-xxs-12 col-xs-12 mt">
                                                <h4>Rules are given below</h4>
                                                <ol type="1">
                                                    <% for(let i=0; i<terms.length; i++){ %>
                                                        <li>

                                                            <%= terms[i].rules %>
                                                        </li>
                                                        <% } %>
                                                </ol>
                                            </div>


                                        </div>
                                        <form id="termsForm" name="termsForm" method="get">
                                            <!---student ID-->
                                            <div class="row m-4 my-4">
                                                <div class="col-lg-12 col-12 my-4" style="color: #db4118;align-items: center;justify-content: center;">
                                                    <strong>Student Id:</strong> &nbsp;
                                                    <input type="text" id="stuId" name="stuId" value="<%= id %> " readonly>
                                                </div>
                                                <br><br>
                                                <div class="col-lg-4 col-md-4 col-sm-6 col-12 my-4">
                                                    <select class="cs-select cs-skin-border" id="drdow2" name="exam">
                                                        <option value="">Select Your Interested Exam</option>
                                                        <option value="1">HTML</option>
                                                        <option value="2">CSS</option>
                                                        <option value="3">JavaScript</option>
                                                    </select>
                                                </div>
                                                <small id="err_exam" class="mx-4 px-3 error"></small>
                                            </div>
                                            <div class="mx-2 my-3" style="color: #db4118;align-items: center;justify-content: center;">
                                                <input type="checkbox" id="test" name="Applying_for2" style="align-items: center;justify-content: center; margin-top: 20px;"><strong>&nbsp;I
                                                    accept all the terms and conditions.</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span id="err_terms" class="mx-4 px-3 error"></span>
                                            </div><br>
                                            <!-- </div> -->
                                            <div class="col-lg-12 col-xxs-12 col-xs-6 mt text-center">
                                                <button type="submit" class="btn btn-outline-danger btn-lg" id="submit">Start Exam</button>
                                                <% if(result.length>0){ %>
                                                    <button type="button" class="btn btn-outline-danger btn-lg" id="result"><a href="#t1" style="color:rgb(145,145,144)!important;" rel="modal:open">Previous Score</a></button>
                                                    <%} %>

                                            </div>
                                        </form>
                                        <div class="col-lg-12 col-xxs-12 col-xs-12 mt">

                                            <div class="container-fluid">
                                                <div id="t1" class="modal">
                                                    <table class="table" style="color:black!important;">
                                                        <thead>
                                                            <tr>
                                                                <!-- <th scope="col"><span class="fs-6">Name</span></th> -->
                                                                <th scope="col"><span class="fs-6">Exam</span></th>
                                                                <th scope="col"><span class="fs-6">Result</span></th>
                                                                <th scope="col"><span class="fs-6">Date</span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let i=0; i<result.length; i++){ %>

                                                                <tr>

                                                                    <!-- <td>
                                                                        <%= result[i].name %>
                                                                    </td> -->


                                                                    <td>
                                                                        <% if(result[i].subject=="1" ){ %>
                                                                            HTML
                                                                            <%} else if(result[i].subject=="2" ) {%>
                                                                                CSS
                                                                                <% } else{%>
                                                                                    JavaScript
                                                                                    <%} %>
                                                                    </td>
                                                                    <td>
                                                                        <%= result[i].marks %>
                                                                    </td>
                                                                    <td>
                                                                        <%= result[i].created_at.toLocaleString() %>
                                                                    </td>

                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END fh5co-page -->

    </div>
    <!-- END fh5co-wrapper -->

    <!-- jQuery -->


    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/sticky.js"></script>

    <!-- Stellar -->
    <script src="js/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="js/bootstrap-datepicker.min.js"></script>
    <!-- CS Select -->
    <script src="js/classie.js"></script>
    <script src="js/selectFx.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script>
        $('#submit').click(function() {
            $('#err_exam').html("");
            $('#err_terms').html("");
            var drdow2 = $('#drdow2').val();
            console.log(drdow2);
            var checkBox = $('#test').prop('checked')

            console.log(checkBox);
            $('#err_exam').html("");
            $("#err_terms").html("");
            if (drdow2 == "") {
                $('#err_exam').html("Select Your Exam type");
                $('#drdow2').focus();
                return false;
            } else if (checkBox == false) {
                $('#err_terms').html("Accept our Terms And Conditions (Check button)");
                $('#test').focus();
                return false;
            } else {
                //document.getElementById('termsForm').action = '/question' + drdow2;
                let myTab;
                myTab = window.open('http://localhost:3000/question' + drdow2 + '?exam=1&Applying_for2=on', "newWin", 'height=' + screen.height, 'width=' + screen.width, 'fullscreen=yes');
                return false


            }
        });

        // $('#result').click(() => {
        //     $('#t1').toggle();
        // });
    </script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</body>

</html>