<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SGL Online Exam | Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
    <!-- data table  -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <style>
        /* .table-striped{ */
        
        #mytable th {
            text-align: center;
            background-color: #f89149 !important;
        }
        
        #mytable td,
        th {
            padding: 15px !important;
        }
        
        #mytable tbody tr {
            background-color: rgba(0, 0, 0, 0);
        }
        /* } */
        
        #mytable th,
        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <h2 class="sidebar-brand brand-logo">SGL Admin Panel</h2>
                <h2 class="sidebar-brand brand-logo-mini">SGL</h2>
                <!-- <a class="sidebar-brand brand-logo" href="/admin"><img src="../../assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="/admin"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a> -->
            </div>
            <ul class="nav">
                <li class="nav-item profile">
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="../../assets/images/faces/face15.jpg" alt="">
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5 class="mb-0 font-weight-normal">SGL Administrator</h5>
                                <!-- <span>Gold Member</span> -->
                            </div>
                        </div>
                        <!-- <a href="#" id="profile-dropdown" data-toggle="dropdown"><i
                                class="mdi mdi-dots-vertical"></i></a>
                        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-onepassword  text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-calendar-today text-success"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </li>
                <li class="nav-item nav-category">
                    <span class="nav-link">Navigation</span>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/admin">
                        <span class="menu-icon">
                            <i class="mdi mdi-speedometer"></i>
                        </span>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/quiz_table">
                        <span class="menu-icon">
                            <i class="mdi mdi-quicktime"></i>
                        </span>
                        <span class="menu-title">Quiz</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/user">
                        <span class="menu-icon">
                            <i class="mdi mdi-account-box"></i>
                        </span>
                        <span class="menu-title">User</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="/rules">
                        <span class="menu-icon">
                            <i class="mdi mdi-file-document-box-outline"></i>
                        </span>
                        <span class="menu-title">Rules</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" href="result">
                        <span class="menu-icon">
                            <i class="mdi mdi-table-large"></i>
                        </span>
                        <span class="menu-title">Result</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <h3 class="sidebar-brand brand-logo-mini text-light">SGL</h3>
                </div>
                <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <!-- <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                                <input type="text" class="form-control" placeholder="Search products">
                            </form>
                        </li>
                    </ul> -->
                    <ul class="navbar-nav navbar-nav-right">
                        <!-- <li class="nav-item dropdown d-none d-lg-block">
                            <a class="nav-link btn create-new-button" style="background-color: #f89149;" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create
                                New Project</a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                                <h6 class="p-3 mb-0">Projects</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-file-outline text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-web text-info"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">UI Development</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-layers text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Software Testing</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all projects</p>
                            </div>
                        </li>
                        <li class="nav-item nav-settings d-none d-lg-block">
                            <a class="nav-link" href="#">
                                <i class="mdi mdi-view-grid"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <span class="count bg-success"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                <h6 class="p-3 mb-0">Messages</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="../../assets/images/faces/face4.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Mark send you a message</p>
                                        <p class="text-muted mb-0"> 1 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="../../assets/images/faces/face2.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Cregh send you a message</p>
                                        <p class="text-muted mb-0"> 15 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <img src="../../assets/images/faces/face3.jpg" alt="image" class="rounded-circle profile-pic">
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject ellipsis mb-1">Profile picture updated</p>
                                        <p class="text-muted mb-0"> 18 Minutes ago </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">4 new messages</p>
                            </div>
                        </li>
                        <li class="nav-item dropdown border-left">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <span class="count bg-danger"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <h6 class="p-3 mb-0">Notifications</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-calendar text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Event today</p>
                                        <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                        <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-link-variant text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Launch Admin</p>
                                        <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">See all notifications</p>
                            </div>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <img class="img-xs rounded-circle" src="../../assets/images/faces/face15.jpg" alt="">
                                    <p class="mb-0 d-none d-sm-block navbar-profile-name">SGL Administrator</p>
                                    <!-- <i class="mdi mdi-menu-down d-none d-sm-block"></i> -->
                                </div>
                            </a>
                            <!-- <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                                <h6 class="p-3 mb-0">Profile</h6>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-settings text-success"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Settings</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-dark rounded-circle">
                                            <i class="mdi mdi-logout text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <p class="preview-subject mb-1">Log out</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <p class="p-3 mb-0 text-center">Advanced settings</p>
                            </div> -->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                                <div class="navbar-profile">
                                    <a href="/logout" class="btn btn-danger mb-4">Logout</a>
                                </div>
                            </a>


                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-format-line-spacing"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> User Details </h3>
                        <% if(success.length>0) {%>
                            <div class="alert alert-success">
                                <%= success %>
                            </div>
                            <% } %>
                                <% if(error.length>0) {%>
                                    <div class="alert alert-danger">
                                        <%= error %>
                                    </div>
                                    <% } %>
                                        <% if(info.length>0) {%>
                                            <div class="alert alert-info">
                                                <%= info %>
                                            </div>
                                            <% } %>
                                                <nav aria-label="breadcrumb">
                                                    <ol class="breadcrumb">
                                                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                                        <li class="breadcrumb-item active" aria-current="page">User Details</li>
                                                    </ol>
                                                </nav>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">

                                    <a class="float-sm-right nav-link btn btn-secondary create-new-button" id="show" aria-expanded="false">Add User</a>
                                    <!-- The Modal -->
                                    <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Add User Form Start-->
                                                <!------ <div class="col-lg-12 grid-margin stretch-card"> --------->
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Enter User Details
                                                            <button type="button" class="btn btn-danger float-right" data-dismiss="modal">×</button>
                                                        </h4>
                                                        <!-- add user model form -->
                                                        <form class="forms-sample" method="POST" id="registerForm" name="registerForm">
                                                            <div class="form-group row">
                                                                <label for="Fstudentname" class="col-sm-3 col-form-label">Name</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="name" class="form-control" id="Fstudentname" placeholder="Enter Student Name">

                                                                    <small id="err_name" class="error"></small>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="addStudentUserame" class="col-sm-3 col-form-label">Username</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="username" id="fusername" placeholder="Enter Student User Name"><small id="err_username" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="addEmail" class="col-sm-3 col-form-label">Emial-ID</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="email" id="fremail" placeholder="Enter Email-ID"><small id="err_email" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="AddQualification" class="col-sm-3 col-form-label">Qualification</label>
                                                                <div class="col-sm-9">
                                                                    <select class="form-control" id="drdow" name="qualification">
                                                                        <option value="">Select your Qualification
                                                                        </option>
                                                                        <option value="10th">10th</option>
                                                                        <option value="12th">12th</option>
                                                                        <option value="Diploma">Diploma</option>
                                                                        <option value="Bachelor">Bachelor</option>
                                                                        <option value="masters">masters</option>
                                                                        <option value="PHD">PHD</option>
                                                                    </select>
                                                                    <small id="err_qualification" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="addPassword" class="col-sm-3 col-form-label">Set Password</label>
                                                                <div class="col-sm-9">
                                                                    <input type="password" class="form-control" id="rpwd" name="password" placeholder="Enter Password"><small id="err_password" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="float-right">
                                                                <button type="submit" style="width: 200px;" id="submitRgister" name="submit" class="btn btn-primary">Add User</button>
                                                                <button type="reset" class="btn btn-danger" id="userCancel" style="width: 200px;">Reset</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- update modal -->
                                    <!-- The Modal -->
                                    <div class="modal" id="myModalu">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Add User Form Start-->
                                                <!------ <div class="col-lg-12 grid-margin stretch-card"> --------->
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Update User Details
                                                            <button type="button" class="btn btn-danger float-right" data-dismiss="modal">×</button>
                                                        </h4>
                                                        <!-- add user model form -->
                                                        <form class="forms-sample" method="POST" id="update_user" name="update_user">
                                                            <div class="form-group row">
                                                                <label for="Fstudentname" class="col-sm-3 col-form-label">Name</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="name" class="form-control" id="Fstudentname" placeholder="Enter Student Name">

                                                                    <small id="err_name" class="error"></small>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="addStudentUserame" class="col-sm-3 col-form-label">Username</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="username" id="fusername" placeholder="Enter Student User Name"><small id="err_username" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="addEmail" class="col-sm-3 col-form-label">Emial-ID</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="email" id="fremail" placeholder="Enter Email-ID"><small id="err_email" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="AddQualification" class="col-sm-3 col-form-label">Qualification</label>
                                                                <div class="col-sm-9">
                                                                    <select class="form-control" id="update_drdow" name="qualification">
                                                                        <option value="">Select your Qualification
                                                                        </option>
                                                                        <option value="10th">10th</option>
                                                                        <option value="12th">12th</option>
                                                                        <option value="Diploma">Diploma</option>
                                                                        <option value="Bachelor">Bachelor</option>
                                                                        <option value="masters">masters</option>
                                                                        <option value="PHD">PHD</option>
                                                                    </select>
                                                                    <small id="err_qualification" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="addPassword" class="col-sm-3 col-form-label">Password</label>
                                                                <div class="col-sm-9">
                                                                    <input type="password" class="form-control" id="rpwd" name="password" placeholder="Enter Password"><small id="err_password" class="error"></small>
                                                                </div>
                                                            </div>
                                                            <div class="float-right">
                                                                <button type="submit" style="width: 200px;" id="submitRgister" name="submit" class="btn btn-primary">Submit</button>
                                                                <button type="reset" class="btn btn-danger" id="userCancel" style="width: 200px;">Reset</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table" id="mytable">
                                            <thead>
                                                <tr>
                                                    <th>Sr No</th>
                                                    <th> Name </th>
                                                    <th> Username </th>
                                                    <th> Qualification </th>
                                                    <th> E-mail </th>
                                                    <th> Edit</th>
                                                    <th> Delete </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(let i=0; i<user.length; i++){ %>
                                                    <!-- user[i].id -->


                                                    <tr>
                                                        <td>
                                                            <%= i+1 %>
                                                        </td>
                                                        <td>
                                                            <%= user[i].name %>
                                                        </td>
                                                        <td>
                                                            <%= user[i].username %>
                                                        </td>
                                                        <td>
                                                            <%= user[i].qualification %>
                                                        </td>
                                                        <td>
                                                            <%= user[i].email %>
                                                        </td>

                                                        <td>
                                                            <a class="btn btn-primary show" id="updateuser" aria-expanded="false" href="#" onclick="updateuser('<%=user[i].id%>','<%= user[i].name %>','<%= user[i].username %>','<%= user[i].qualification %>','<%=user[i].email%>','<%= user[i].password %>')"><i class="mdi mdi-square-edit-outline"></i></a>
                                                        </td>
                                                        <td>
                                                            <a class=" btn btn-danger" id="deleteuser" aria-expanded="false" href="/user/<%=user[i].id%>"><i class="mdi mdi-delete"></i></a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <!-- <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                        </div>
                    </footer> -->
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <script src="js/validation.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
    <script>
        $("#show").click(function() {
            $('#myModal').modal('show');
        });
        $("#hide").click(function() {
            $('#myModal').modal('hide');
        });


        // $(".show").click(function() {
        //     $('#myModal').modal('show');
        // });
    </script>
    <script>
        function updateuser(id, name, username, qualification, email, password) {
            var updt1 = $("#update_user input[name=name]");
            var updt2 = $("#update_user input[name=username]");
            var updt3 = $("#update_user input[name=email]");
            var updt4 = $("#update_user #update_drdow option[value='" + qualification + "']").prop('selected', true);
            var updt5 = $("#update_user input[name=password]");
            updt4.val(qualification);
            updt3.val(email);
            updt2.val(username);
            updt1.val(name);
            updt5.val(password);
            //$('#u_ruleSubmit').attr("href", '/ruleDel/' + id)
            $('#myModalu').modal('show');
            $('#update_user').submit(() => {
                $('#update_user #err_name').html("");
                $('#update_user #err_username').html("");
                $('#update_user #err_email').html("");
                $('#update_user #err_qualification').html("");
                $('#update_user #err_password').html("");
                if (updt1.val() == 0) {
                    $('#update_user #err_name').html("Name can't be blank(for update)");
                    $('#update_user #Fstudentname').focus();
                    return false;
                } else if (!(updt1.val()).match(/^[A-Za-z ]{3,20}$/)) {
                    $('#update_user #err_name').html("Enter correct Name");
                    $('#update_user #Fstudentname').focus();
                    return false;
                } else if (updt2.val() == 0) {
                    $('#update_user #err_username').html("UserName can't be blank(for update)");
                    $('#update_user #fusername').focus();
                    return false;
                } else if (!(updt2.val()).match(/^[A-Za-z][A-Za-z#@0-9_]{7,29}$/)) {
                    $('#update_user #err_username').html("Username must be 8 digit in Ex.(example@123)");
                    $('#update_user #fusername').focus();
                    return false;
                } else if (updt3.val() == 0) {
                    $('#update_user #err_email').html("Email-Id can't be blank(for update)");
                    $('#update_user #fremail').focus();
                    return false;
                } else if (!(updt3.val()).match(
                        /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/)) {
                    $('#update_user #err_email').html("Email-Id Ex-(example@email.com)");
                    $('#update_user #fremail').focus();
                    return false;
                } else if ($("#update_user #update_drdow").val() == "") {
                    $('#update_user #err_qualification').html("Email-Id can't be blank(for update)");
                    $('#update_user #update_drdow').focus();
                    return false;
                } else if (updt5.val() == 0) {
                    $('#update_user #err_password').html("password can't be blank(for update)");
                    $('#update_user #rpwd').focus();
                    return false;
                } else {
                    document.getElementById('update_user').action = '/user_update/' + id
                    return true;
                }
            })
        }
    </script>

    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- data tabel script -->
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

    <script>
        $(() => {
            $('#mytable').DataTable();
        });
    </script>


</body>

</html>